<md-toolbar color="primary">
  
      <span>LaGrosseCompagnie</span>
      <span class="example-spacer"></span>
      <button md-button [mdMenuTriggerFor]="menuClientPortfolioAdmin"><md-icon>menu</md-icon> Client&Portfolio Admin.</button>
      <span class="example-spacer"></span>
      <button md-button [mdMenuTriggerFor]="menuTrade"><md-icon>menu</md-icon>Trade</button>
      
  </md-toolbar>
  
  <md-menu #menuClientPortfolioAdmin="mdMenu">
    <button md-menu-item> Client </button>
    <button md-menu-item> Portfolio </button>
  </md-menu>
  <md-menu #menuTrade="mdMenu">
    <button md-menu-item> Trade </button>
    <button md-menu-item> Order Blotter </button>
  </md-menu>
<app-portfolio></app-portfolio>
<app-portfolio-detail></app-portfolio-detail>
